In [37]:
from geopy.geocoders import GoogleV3
import pandas as pd
import numpy as np
import requests

In [64]:
data = pd.read_csv('resultslatlon.csv', encoding='utf8')
data

     Unnamed: 0   Organization Name   latitude   longitude
0             0  Loadshare Networks  12.936921   77.624945
1             1            Locus.sh  51.514339   -0.108747
2             2            Locus.sh  51.229505    6.776593
3             3            Locus.sh  19.118577   72.890366
4             4            Locus.sh  12.925613   77.636771
..          ...                 ...        ...         ...
258         260                 IPR  35.701638  139.415824
259         261   AND Systems Japan  34.678568  135.501034
260         262          Ard Sosiyo  35.695999  139.770134
261         263            Fullback  34.961280  136.627700
262         264     Tensei Data Net  36.063049  136.193709

[263 rows x 4 columns]

In [65]:
def reverse_geo(lat,lon):
#     locations = geolocator.reverse(x)
#     country = locations.country
#     return country
    api_key='AIzaSyAGut0nPIu24ydb1IU1QgYkvMwQF6lZC_0'

    base = "https://maps.googleapis.com/maps/api/geocode/json?"
    params = "latlng={lat},{lon}".format(
        lat=lat,
        lon=lon,
    )
    geocode_url = "{base}{params}".format(base=base, params=params)
    if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)
    response = requests.get(geocode_url).json()
    result = response['results'][0]['formatted_address']
    return result

In [63]:
print(reverse_geo(12.936921,77.624945))

509, 6th Cross Rd, near to Koramangala club, 6th Block, Koramangala, Bengaluru, Karnataka 560095, India

In [66]:
data['formatted_address'] = data.apply(lambda x: reverse_geo(x['latitude'], x['longitude']), axis=1)

In [67]:
data

,Unnamed: 0,Organization Name,latitude,longitude,formatted_address
0,0,Loadshare Networks,12.936921,77.624945,"509, 6th Cross Rd, near to Koramangala club, 6..."
1,1,Locus.sh,51.514339,-0.108747,"4th Floor, 167 Fleet St, London EC4A 2EA, UK"
2,2,Locus.sh,51.229505,6.776593,"Heinrich-Heine-Allee 1, 40213 Düsseldorf, Germany"
3,3,Locus.sh,19.118577,72.890366,"6, Saki Vihar Rd, Tunga Village, Chandivali, P..."
4,4,Locus.sh,12.925613,77.636771,"87-148, 1st Block Koramangala, Koramangala, Be..."
...,...,...,...,...,...
258,260,IPR,35.701638,139.415824,"Japan, 〒190-0012 Tokyo, Tachikawa, Akebonochō,..."
259,261,AND Systems Japan,34.678568,135.501034,"3-chōme-5-1 Bakurōmachi, Chuo Ward, Osaka, 541..."
260,262,Ard Sosiyo,35.695999,139.770134,"1-chōme-5 Kanda Sudachō, Chiyoda City, Tokyo 1..."
261,263,Fullback,34.961280,136.627700,"5-13 Asahimachi, Yokkaichi, Mie 510-0061, Japan"
262,264,Tensei Data Net,36.063049,136.193709,"2-chōme-22-18 Kamogawara, Fukui, 918-8057, Japan"

In [68]:
def split_get_country(x):
    splitted_add = x.split(',')
    return splitted_add[-1]

In [69]:
data['country'] = data.apply(lambda x: split_get_country(x['formatted_address']), axis=1)

In [70]:
data

,Unnamed: 0,Organization Name,latitude,longitude,formatted_address,country
0,0,Loadshare Networks,12.936921,77.624945,"509, 6th Cross Rd, near to Koramangala club, 6...",India
1,1,Locus.sh,51.514339,-0.108747,"4th Floor, 167 Fleet St, London EC4A 2EA, UK",UK
2,2,Locus.sh,51.229505,6.776593,"Heinrich-Heine-Allee 1, 40213 Düsseldorf, Germany",Germany
3,3,Locus.sh,19.118577,72.890366,"6, Saki Vihar Rd, Tunga Village, Chandivali, P...",India
4,4,Locus.sh,12.925613,77.636771,"87-148, 1st Block Koramangala, Koramangala, Be...",India
...,...,...,...,...,...,...
258,260,IPR,35.701638,139.415824,"Japan, 〒190-0012 Tokyo, Tachikawa, Akebonochō,...",2-chōme−32−２ 中山本社ビル 7階
259,261,AND Systems Japan,34.678568,135.501034,"3-chōme-5-1 Bakurōmachi, Chuo Ward, Osaka, 541...",Japan
260,262,Ard Sosiyo,35.695999,139.770134,"1-chōme-5 Kanda Sudachō, Chiyoda City, Tokyo 1...",Japan
261,263,Fullback,34.961280,136.627700,"5-13 Asahimachi, Yokkaichi, Mie 510-0061, Japan",Japan
262,264,Tensei Data Net,36.063049,136.193709,"2-chōme-22-18 Kamogawara, Fukui, 918-8057, Japan",Japan

In [71]:
pd.DataFrame(data).to_csv('resultslatloncountry.csv', encoding='utf8')