In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('resultslatloncountry.csv', encoding='utf8')
data

,Unnamed: 0,Unnamed: 0.1,Organization Name,latitude,longitude,formatted_address,country
0,0,0,Loadshare Networks,12.936921,77.624945,"509, 6th Cross Rd, near to Koramangala club, 6...",India
1,1,1,Locus.sh,51.514339,-0.108747,"4th Floor, 167 Fleet St, London EC4A 2EA, UK",UK
2,2,2,Locus.sh,51.229505,6.776593,"Heinrich-Heine-Allee 1, 40213 Düsseldorf, Germany",Germany
3,3,3,Locus.sh,19.118577,72.890366,"6, Saki Vihar Rd, Tunga Village, Chandivali, P...",India
4,4,4,Locus.sh,12.925613,77.636771,"87-148, 1st Block Koramangala, Koramangala, Be...",India
...,...,...,...,...,...,...,...
258,258,260,IPR,35.701638,139.415824,"Japan, 〒190-0012 Tokyo, Tachikawa, Akebonochō,...",Japan
259,259,261,AND Systems Japan,34.678568,135.501034,"3-chōme-5-1 Bakurōmachi, Chuo Ward, Osaka, 541...",Japan
260,260,262,Ard Sosiyo,35.695999,139.770134,"1-chōme-5 Kanda Sudachō, Chiyoda City, Tokyo 1...",Japan
261,261,263,Fullback,34.961280,136.627700,"5-13 Asahimachi, Yokkaichi, Mie 510-0061, Japan",Japan
262,262,264,Tensei Data Net,36.063049,136.193709,"2-chōme-22-18 Kamogawara, Fukui, 918-8057, Japan",Japan

In [4]:
data['country'] = data.apply(lambda x: x['country'].strip(), axis=1)

In [5]:
data

,Unnamed: 0,Unnamed: 0.1,Organization Name,latitude,longitude,formatted_address,country
0,0,0,Loadshare Networks,12.936921,77.624945,"509, 6th Cross Rd, near to Koramangala club, 6...",India
1,1,1,Locus.sh,51.514339,-0.108747,"4th Floor, 167 Fleet St, London EC4A 2EA, UK",UK
2,2,2,Locus.sh,51.229505,6.776593,"Heinrich-Heine-Allee 1, 40213 Düsseldorf, Germany",Germany
3,3,3,Locus.sh,19.118577,72.890366,"6, Saki Vihar Rd, Tunga Village, Chandivali, P...",India
4,4,4,Locus.sh,12.925613,77.636771,"87-148, 1st Block Koramangala, Koramangala, Be...",India
...,...,...,...,...,...,...,...
258,258,260,IPR,35.701638,139.415824,"Japan, 〒190-0012 Tokyo, Tachikawa, Akebonochō,...",Japan
259,259,261,AND Systems Japan,34.678568,135.501034,"3-chōme-5-1 Bakurōmachi, Chuo Ward, Osaka, 541...",Japan
260,260,262,Ard Sosiyo,35.695999,139.770134,"1-chōme-5 Kanda Sudachō, Chiyoda City, Tokyo 1...",Japan
261,261,263,Fullback,34.961280,136.627700,"5-13 Asahimachi, Yokkaichi, Mie 510-0061, Japan",Japan
262,262,264,Tensei Data Net,36.063049,136.193709,"2-chōme-22-18 Kamogawara, Fukui, 918-8057, Japan",Japan

In [6]:
pd.DataFrame(data).to_csv('cleanedfinal.csv', encoding='utf8')