In [57]:
import warnings 
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from scipy import stats

In [7]:
#Import file
lscompanies = pd.read_csv('logistics_software_companies.csv')

In [28]:
df = lscompanies
df

,Organization Name,Organization Name URL,Operating Status,Headquarters Location,Number of Employees,Description,Full Description,Industries,Founded Date,Founded Date Precision,...,Total Equity Funding Amount Currency (in USD),Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Funding Rounds,Number of Lead Investors,Number of Investors,Closed Date,Closed Date Precision,Estimated Revenue Range
0,Leaf Logistics,https://www.crunchbase.com/organization/leaf-l...,Active,"New York, New York, United States",11-50,"Leaf Logistics connects shippers, providers, a...",Leaf Logistics is creating a multi-party netwo...,"Logistics, Software, Supply Chain Management, ...",2017-01-01,year,...,58500000.0,58500000.0,USD,58500000.0,3.0,3.0,8.0,NaN,NaN,$1M to $10M
1,Loadshare Networks,https://www.crunchbase.com/organization/loadsh...,Active,"Bengaluru, Karnataka, India",11-50,Loadshare Network provides logistical softwar...,Loadshare Networks provides the technology pla...,"Delivery Service, Industrial Automation, Logis...",2017-01-01,year,...,60356577.0,61398554.0,USD,61398554.0,8.0,6.0,12.0,NaN,NaN,$1M to $10M
2,Shippo,https://www.crunchbase.com/organization/shippo,Active,"San Francisco, California, United States",101-250,Shippo is a shipping platform that helps e-com...,Shippo is a multi-carrier shipping API and web...,"B2B, E-Commerce, Logistics, Software, Supply C...",2013-01-01,year,...,154275000.0,154275000.0,USD,154275000.0,10.0,4.0,20.0,NaN,NaN,$10M to $50M
3,Nexxiot,https://www.crunchbase.com/organization/nexiot,Active,"Zürich, Zurich, Switzerland",51-100,Nexxiot is the independent enabler of the digi...,Nexxiot is Europe’s provider of integrated dig...,"Artificial Intelligence, Enterprise Software, ...",2015-03-01,month,...,58834800.0,104885118.0,USD,104885118.0,9.0,6.0,7.0,NaN,NaN,Less than $1M
4,Zuum Transportation,https://www.crunchbase.com/organization/zuum-t...,Active,"Irvine, California, United States",101-250,Zuum is a logistics platform that connects dig...,Zuum Transportation optimizes logistics and st...,"Logistics, Software, Supply Chain Management, ...",2015-01-01,year,...,28580000.0,38580000.0,USD,38580000.0,5.0,3.0,10.0,NaN,NaN,$1M to $10M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Epilog d. o. o.,https://www.crunchbase.com/organization/epilog...,Active,"Ljubljana, Ljubljana Urban Commune, Slovenia",11-50,Epilog is a high-tech research and development...,Epilogue is a high-tech development company th...,"Information Technology, Logistics, Software, W...",1990-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than $1M
996,Luggage Logistics,https://www.crunchbase.com/organization/luggag...,Active,"Guildford, Surrey, United Kingdom",11-50,Luggage Logistics is a global supplier of soft...,NaN,"Information Technology, Logistics, Software",2007-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,Pegasus Software Development,https://www.crunchbase.com/organization/pegasu...,Active,"Atlanta, Georgia, United States",11-50,Pegasus Software Development provides custom s...,Pegasus Software Development offers custom sof...,"Customer Service, Logistics, Software, Warehou...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$1M to $10M
998,GestMag Software Solutions,https://www.crunchbase.com/organization/gestma...,Active,"Girona, Catalonia, Spain",1-10,GestMag Software Solutions SL develops softwar...,NaN,"Consulting, Logistics, Software",1999-01-01,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than $1M
999,Fix n Fix Lynnwood Appliance Repair,https://www.crunchbase.com/organization/fix-n-...,Active,"Lynnwood, Washington, United States",1-10,Fix n Fix Lynnwood Appliance Repair prov,Fix n Fix Lynnwood Appliance Repair provides f...,"Automotive, Electronics, Logistics, Software",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$1M to $10M

In [29]:
df = df[(df['Operating Status']=="Active")]
df

,Organization Name,Organization Name URL,Operating Status,Headquarters Location,Number of Employees,Description,Full Description,Industries,Founded Date,Founded Date Precision,...,Total Equity Funding Amount Currency (in USD),Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Funding Rounds,Number of Lead Investors,Number of Investors,Closed Date,Closed Date Precision,Estimated Revenue Range
0,Leaf Logistics,https://www.crunchbase.com/organization/leaf-l...,Active,"New York, New York, United States",11-50,"Leaf Logistics connects shippers, providers, a...",Leaf Logistics is creating a multi-party netwo...,"Logistics, Software, Supply Chain Management, ...",2017-01-01,year,...,58500000.0,58500000.0,USD,58500000.0,3.0,3.0,8.0,NaN,NaN,$1M to $10M
1,Loadshare Networks,https://www.crunchbase.com/organization/loadsh...,Active,"Bengaluru, Karnataka, India",11-50,Loadshare Network provides logistical softwar...,Loadshare Networks provides the technology pla...,"Delivery Service, Industrial Automation, Logis...",2017-01-01,year,...,60356577.0,61398554.0,USD,61398554.0,8.0,6.0,12.0,NaN,NaN,$1M to $10M
2,Shippo,https://www.crunchbase.com/organization/shippo,Active,"San Francisco, California, United States",101-250,Shippo is a shipping platform that helps e-com...,Shippo is a multi-carrier shipping API and web...,"B2B, E-Commerce, Logistics, Software, Supply C...",2013-01-01,year,...,154275000.0,154275000.0,USD,154275000.0,10.0,4.0,20.0,NaN,NaN,$10M to $50M
3,Nexxiot,https://www.crunchbase.com/organization/nexiot,Active,"Zürich, Zurich, Switzerland",51-100,Nexxiot is the independent enabler of the digi...,Nexxiot is Europe’s provider of integrated dig...,"Artificial Intelligence, Enterprise Software, ...",2015-03-01,month,...,58834800.0,104885118.0,USD,104885118.0,9.0,6.0,7.0,NaN,NaN,Less than $1M
4,Zuum Transportation,https://www.crunchbase.com/organization/zuum-t...,Active,"Irvine, California, United States",101-250,Zuum is a logistics platform that connects dig...,Zuum Transportation optimizes logistics and st...,"Logistics, Software, Supply Chain Management, ...",2015-01-01,year,...,28580000.0,38580000.0,USD,38580000.0,5.0,3.0,10.0,NaN,NaN,$1M to $10M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Epilog d. o. o.,https://www.crunchbase.com/organization/epilog...,Active,"Ljubljana, Ljubljana Urban Commune, Slovenia",11-50,Epilog is a high-tech research and development...,Epilogue is a high-tech development company th...,"Information Technology, Logistics, Software, W...",1990-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than $1M
996,Luggage Logistics,https://www.crunchbase.com/organization/luggag...,Active,"Guildford, Surrey, United Kingdom",11-50,Luggage Logistics is a global supplier of soft...,NaN,"Information Technology, Logistics, Software",2007-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,Pegasus Software Development,https://www.crunchbase.com/organization/pegasu...,Active,"Atlanta, Georgia, United States",11-50,Pegasus Software Development provides custom s...,Pegasus Software Development offers custom sof...,"Customer Service, Logistics, Software, Warehou...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$1M to $10M
998,GestMag Software Solutions,https://www.crunchbase.com/organization/gestma...,Active,"Girona, Catalonia, Spain",1-10,GestMag Software Solutions SL develops softwar...,NaN,"Consulting, Logistics, Software",1999-01-01,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than $1M
999,Fix n Fix Lynnwood Appliance Repair,https://www.crunchbase.com/organization/fix-n-...,Active,"Lynnwood, Washington, United States",1-10,Fix n Fix Lynnwood Appliance Repair prov,Fix n Fix Lynnwood Appliance Repair provides f...,"Automotive, Electronics, Logistics, Software",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$1M to $10M

In [30]:
df = pd.DataFrame(df, columns = ['Organization Name' ,'Headquarters Location'])
df

,Organization Name,Headquarters Location
0,Leaf Logistics,"New York, New York, United States"
1,Loadshare Networks,"Bengaluru, Karnataka, India"
2,Shippo,"San Francisco, California, United States"
3,Nexxiot,"Zürich, Zurich, Switzerland"
4,Zuum Transportation,"Irvine, California, United States"
...,...,...
995,Epilog d. o. o.,"Ljubljana, Ljubljana Urban Commune, Slovenia"
996,Luggage Logistics,"Guildford, Surrey, United Kingdom"
997,Pegasus Software Development,"Atlanta, Georgia, United States"
998,GestMag Software Solutions,"Girona, Catalonia, Spain"
999,Fix n Fix Lynnwood Appliance Repair,"Lynnwood, Washington, United States"

In [31]:
df_headquarters = df['Headquarters Location'].str.split(',', expand=True)
df_headquarters

                 0                         1                2     3
0         New York                  New York    United States  None
1        Bengaluru                 Karnataka            India  None
2    San Francisco                California    United States  None
3           Zürich                    Zurich      Switzerland  None
4           Irvine                California    United States  None
..             ...                       ...              ...   ...
995      Ljubljana   Ljubljana Urban Commune         Slovenia  None
996      Guildford                    Surrey   United Kingdom  None
997        Atlanta                   Georgia    United States  None
998         Girona                 Catalonia            Spain  None
999       Lynnwood                Washington    United States  None

[974 rows x 4 columns]

In [32]:
df = pd.concat([df['Organization Name'], df_headquarters], axis=1)
df

,Organization Name,0,1,2,3
0,Leaf Logistics,New York,New York,United States,None
1,Loadshare Networks,Bengaluru,Karnataka,India,None
2,Shippo,San Francisco,California,United States,None
3,Nexxiot,Zürich,Zurich,Switzerland,None
4,Zuum Transportation,Irvine,California,United States,None
...,...,...,...,...,...
995,Epilog d. o. o.,Ljubljana,Ljubljana Urban Commune,Slovenia,None
996,Luggage Logistics,Guildford,Surrey,United Kingdom,None
997,Pegasus Software Development,Atlanta,Georgia,United States,None
998,GestMag Software Solutions,Girona,Catalonia,Spain,None
999,Fix n Fix Lynnwood Appliance Repair,Lynnwood,Washington,United States,None

In [47]:
test_df = df

In [48]:

test_df = test_df.melt(id_vars=["Organization Name"], 
        var_name="Headquaters Location", 
        value_name="Countries")

test_df

                        Organization Name Headquaters Location      Countries
0                          Leaf Logistics                    0       New York
1                      Loadshare Networks                    0      Bengaluru
2                                  Shippo                    0  San Francisco
3                                 Nexxiot                    0         Zürich
4                     Zuum Transportation                    0         Irvine
...                                   ...                  ...            ...
3891                      Epilog d. o. o.                    3           None
3892                    Luggage Logistics                    3           None
3893         Pegasus Software Development                    3           None
3894           GestMag Software Solutions                    3           None
3895  Fix n Fix Lynnwood Appliance Repair                    3           None

[3896 rows x 3 columns]

In [50]:
test_df = test_df.sort_values(["Organization Name"])
test_df

     Organization Name Headquaters Location       Countries
120       1 Mainstream                    0       Cupertino
1094      1 Mainstream                    1      California
3042      1 Mainstream                    3            None
2068      1 Mainstream                    2   United States
2797  100M Intelligent                    2           China
...                ...                  ...             ...
2335            willog                    2     South Korea
1849        wiselog360                    1       Sao Paulo
875         wiselog360                    0       São Paulo
3797        wiselog360                    3            None
2823        wiselog360                    2          Brazil

[3896 rows x 3 columns]

In [51]:
test_df = pd.DataFrame(test_df, columns = ['Organization Name' ,'Countries'])
test_df

     Organization Name       Countries
120       1 Mainstream       Cupertino
1094      1 Mainstream      California
3042      1 Mainstream            None
2068      1 Mainstream   United States
2797  100M Intelligent           China
...                ...             ...
2335            willog     South Korea
1849        wiselog360       Sao Paulo
875         wiselog360       São Paulo
3797        wiselog360            None
2823        wiselog360          Brazil

[3896 rows x 2 columns]

In [60]:
test_df.isnull().any()

Organization Name    False
Countries             True
dtype: bool

In [61]:
test_df.dropna(axis=0, inplace=True) #remove all rows with na's.
test_df.reset_index(drop=True)

test_df.isnull().any()

Organization Name    False
Countries            False
dtype: bool

In [62]:
test_df

     Organization Name       Countries
120       1 Mainstream       Cupertino
1094      1 Mainstream      California
2068      1 Mainstream   United States
2797  100M Intelligent           China
1823  100M Intelligent        Zhejiang
...                ...             ...
387             willog           Seoul
2335            willog     South Korea
1849        wiselog360       Sao Paulo
875         wiselog360       São Paulo
2823        wiselog360          Brazil

[2837 rows x 2 columns]

In [89]:
test2_df = test_df
test2_df

     Organization Name      Countries
120       1 Mainstream      Cupertino
1094      1 Mainstream     California
2068      1 Mainstream  United States
2797  100M Intelligent          China
1823  100M Intelligent       Zhejiang
...                ...            ...
387             willog          Seoul
2335            willog    South Korea
1849        wiselog360      Sao Paulo
875         wiselog360      São Paulo
2823        wiselog360         Brazil

[2837 rows x 2 columns]

In [90]:
test2_df['Countries'] = test2_df['Countries'].str.strip()

In [91]:
test2_df['Countries'].nunique()

908

In [102]:
test2_df["Values"] = 1
test2_df

     Organization Name      Countries  Values
120       1 Mainstream      Cupertino       1
1094      1 Mainstream     California       1
2068      1 Mainstream  United States       1
2797  100M Intelligent          China       1
1823  100M Intelligent       Zhejiang       1
...                ...            ...     ...
387             willog          Seoul       1
2335            willog    South Korea       1
1849        wiselog360      Sao Paulo       1
875         wiselog360      São Paulo       1
2823        wiselog360         Brazil       1

[2837 rows x 3 columns]

In [105]:
table = test2_df.pivot_table(index='Countries', columns='Organization Name', values='Values')
table

Organization Name,1 Mainstream,100M Intelligent,207,2Is,360data,3Dtracking,3Gtms,3webapps,4elements .the synergy group,4flow,...,"nVision Global Technology Solutions, Inc.",nuDeliverIt,proLOGiT Office & Logistics Software Development,serie a logistics solutions,teTra aviation,tmWare,trackNOW,w3logistics,willog,wiselog360
Countries,,,,,,,,,,,,,,,,,,,,,
Aachen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aalst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abu Dhabi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abuja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ad Dawhah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zwijnaarde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zwijndrecht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zürich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Älmhult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
table.to_csv('network.csv', index=True)

In [110]:
table2 = test2_df.pivot_table(index='Organization Name')

In [111]:
table2.to_csv('org.csv', index=True)